<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Filtros VueJS</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
	
	<main>
		<div class="container">
			<div class="row mt-5">
				<div class="col-md-6">
					<input type="search" placeholder="Buscar" v-model="busqueda" class="form-control">
					<ul>
						<li v-for="juego in buscarJuegos">
							{{juego.titulo}}
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<input type="range" min="0" max="10" v-model="minimo">
				</div>
			</div>
			<div class="row">
				<pre>{{$data}}</pre>
			</div>
		</div>
	</main>
	<script src="js/vue.js"></script>
	<script src="js/main.js"></script>
</body>
</html>